@{
    ViewBag.Title = "RoleOwnMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/webcss/formstyle.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript">
        $(document).ready(function () {
            iniTree();
           
            function iniTree() { 
                tree = new dhtmlXTreeObject("treeboxbox_tree", "100%", "100%", 0);
                tree.setImagePath("@Url.Content("~/Content/themes/base/images/csh_scbrblue/")");
                tree.enableThreeStateCheckboxes(1);
                tree.enableCheckBoxes(true);
                //tree.setOnClickHandler(func_click);
                //tree.setXMLAutoLoading("/Organization/LoadOrg4dhtmlxTree");
                //tree.enableSmartXMLParsing(true);
                tree.loadXML("@Url.Content("/SysManage/Menu/LoadMenu4dhtmlxTree?ajax=true&roleId=")@Request["roleId"]");
            }

            $("#btnSave").click(function(){
                $.post("@Url.Content("/SysManage/Role/SaveRoleMenus")",
                    {menuId : tree.getAllCheckedBranches(), roleId : "@Request["RoleId"]"}
                ); 

                window.parent.ymPrompt.close();
            });
        });
</script>
<div class="submit_btn_div">
    <input type="button" id="btnSave" class="submit_btn" value="保存" />
</div>
<div id="treeboxbox_tree" style="width: 250; height: 218; background-color: #f5f5f5;
    border: 1px solid Silver; overflow: auto;" />
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $.get("/SysManage/Menu/LoadJavascript", { roleId: "@Request["RoleId"]" }, "script");
    });
</script>
