@using ToolsLib.Utility
@using System.Web.UI.WebControls
@using Instrument.Common.Models;
@using Global.Common;
@model Instrument.Common.Models.InstrumentModel
@{
    ViewBag.Title = "标准器具编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList measureLabList = ViewBag.MeasureLabList as SelectList;
    SelectList instrumentStateList = ViewBag.InstrumentRecordStateList as SelectList;
}
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/InstrumentJs.js")" type="text/javascript"></script>
<script type="text/javascript">
    var OtherTable = null;
    //初始化
    $(document).ready(function () {
        //页面缓存
        $("#tabs").tabs({ cache: true });
        //基本信息(表单验证)
        $('#formInstrument').validate({
            rules: {
                InstrumentName: { required: true, maxGBKlength: 160, specialCharValidate: true },  //仪器名称
                Specification: { required: true, maxGBKlength: 140, specialCharValidate: true },   //仪器型号
                BelongDepart: { required: true },   //所属科室
                InstrumentType: { required: true },   //仪器类别
                RecordState: { required: true },   //器具状态
                //                DueEndDate: { required: true },   //到期日期
                Price: { number: true },    //购置金额
                DurableYears: { maxGBKlength: 15, specialCharValidate: true },    //使用年限
                SerialNo: { required: true, maxGBKlength: 120, specialCharValidate: true },
                //                CertificateNo: { maxGBKlength: 120, specialCharValidate: true },
                TechniqueCharacter: { required: true, maxGBKlength: 600, specialCharValidate: true },  //技术特征
                MeasureCharacter: { required: true, maxGBKlength: 600, specialCharValidate: true },  //计量特性
                Manufacturer: { maxGBKlength: 180, specialCharValidate: true },
                ManufactureContactor: { maxGBKlength: 500, specialCharValidate: true },
                ManageNo: { required: true, maxGBKlength: 120, specialCharValidate: true,
                    remote:
                    {
                        url: "/Instrument/ChkManageNo",
                        type: "post",
                        data: {
                            instrumentId: function () { return $("#InstrumentId").val() },
                            manageNo: function () { return $("#ManageNo").val() }
                        }
                    }
                },
                AssetsNo: { maxGBKlength: 120, specialCharValidate: true,
                    remote:
                    {
                        url: "/Instrument/ChkAssetsNo",
                        type: "post",
                        data: {
                            instrumentId: function () { return $("#InstrumentId").val() },
                            assetsNo: function () { return $("#AssetsNo").val() }
                        }
                    }
                },
                ManageLevel: { maxGBKlength: 4, specialCharValidate: true },
                InspectCycle: { maxGBKlength: 20, specialCharValidate: true },
                PicFile: { extension: "jpg,png,gif,jpeg" },
                InspectOrg: { maxGBKlength: 180, specialCharValidate: true },
                LeaderName: { maxGBKlength: 8, specialCharValidate: true },
                StorePalce: { maxGBKlength: 60, specialCharValidate: true },
                Remark: { maxGBKlength: 500, specialCharValidate: true }
            },
            messages: {
                ManageNo: {
                    remote: "管理编号已存在,请重新编号!"
                },
                AssetsNo: {
                    remote: "资产编号已存在!"
                },
                PicFile: "请选择jpg,png,gif,jpeg格式文件!"
        }
    });

    $('#otherForm').validate({
        rules: {
            fileOther: { required: true }
        },
        messages: { fileOther: "请选择文件上传" }
    });

    $("#ManageLevel").change(function () {
        if ($(this).val() != "C") {
            $("#TechniqueCharacter").rules("add", { required: true });
            $("#MeasureCharacter").rules("add", { required: true });
            $("#thTechniqueCharacter").html("<span class='ico_must' />技术特征</span>");
            $("#thMeasureCharacter").html("<span class='ico_must' />计量特性</span>");
        }
        else {
            $("#TechniqueCharacter").rules("remove", "required");
            $("#MeasureCharacter").rules("remove", "required");
            $("#thTechniqueCharacter").html("技术特征");
            $("#thMeasureCharacter").html("计量特性");
        }
    });
    $("#ManageLevel").change();

    $("#OrgName").chosen({ search_contains: true });
    fnGetOther();
    if ("@ViewBag.IsShowSubCate" == "False") {
        $("#spanSubCate").hide();
        $("#SubInstrumentCate").hide();
    }
    //        fnCateChange();
    //一级分类改变事件
    $("#InstrumentCate").change(function () {
        fnCateChange();
    });

});

    function fnCateChange() {
        $("#spanSubCate").hide();
        $("#SubInstrumentCate").hide();
        $('#SubInstrumentCate').html("");
        url = '/Instrument/GetSubInstrumentCate?parentCode=' + $("#InstrumentCate").val();
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#spanSubCate").show();
                $("#SubInstrumentCate").show();
                $('#SubInstrumentCate').append($("<option></option>").val(item.ParamItemValue).html(item.ParamItemName));
            });
        });
    }

    //保存(基本信息)
    function fnSaveInstrument() {
        $("#AssetsNo").rules("remove");
        //表单验证(默认)
        if (!$("#formInstrument").valid()) {
            return false;
        }
        var options = {
            success: fnInstrumentClose
        };
        $("#formInstrument").ajaxSubmit(options);
    }

    //删除标准证书、说明书
    function fnDeleteInstrumentAttachment(obj) {
        var instrumentId = $(obj).attr("instrumentId");
        var fileId = $(obj).attr("fileId");
        var fileName = $(obj).parent().next().text();
        fnConfirmWithF5('确定删除【' + fileName + '】？', '@Url.Content("~/Instrument/DeleteInstrumentAttachment?instrumentId=")' + instrumentId + "&fileId=" + fileId);
        return false;
    }

    //关闭
    function fnInstrumentClose(responseText, statusText) {
        if (responseText != "OK") {
            ymPrompt.alert(responseText);
            return;
        }
        window.opener.fnReloadInstrument();
        window.opener = null;
        window.close();
    }

    function fnGetOther() {
        if (OtherTable != null)
            OtherTable.api().ajax.reload();
        else {
            OtherTable = fnGetBusinessAttachmentList($("#AttachmentBusinessType").val(), $("#InstrumentId").val(), OtherTable, "OtherList");
        }
    }
    function fnUploadData() {
        fnUploadBusinessAttachment($("#AttachmentBusinessType").val(), $("#InstrumentId").val(), "", "otherForm", fnShowOtherResponse);
    }
    //更新其它附件列表
    function fnShowOtherResponse(responseText, statusText) {
        if (responseText.indexOf("OK") != -1) {
            OtherTable.api().ajax.reload();
        }
        else ymPrompt.alert(responseText);
    }
    //设置全选、反选
    function fnSetCheckbox(obj) {
        var isChecked = $(obj).is(":checked");
        fnChkAll('chk' + $("#AttachmentBusinessType").val(), isChecked);
    }
    function GetJs() {
        $.getScript('@Url.Content("~/Scripts/jquery.form.js")');
        $.getScript('@Url.Content("~/Scripts/InstrumentJs.js")');
    }

    function fnClose() {
        window.close();
    }

    function fnInstrumentPic() {
        window.open("/Instrument/InstrumentPic?picSrc=@ViewBag.PicPath");
    }
</script>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">基本信息</a></li>
        <!--Authorization operate="/Instrument/InstrumentCertificationList"-->
        <li><a href="/Instrument/InstrumentCertificationList?instrumentId=@Request["instrumentId"]&dataType=1">
            周期校准记录</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/Instrument/InstrumentRepairPlanList"-->
        <li><a href="/Instrument/InstrumentRepairPlanList?instrumentId=@Request["instrumentId"]&dataType=1">
            维修记录</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/Instrument/CraftEdit"-->
        <li><a href="/Instrument/CraftEdit?instrumentId=@Request["instrumentId"]">
            工艺过程</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/Instrument/InstrumentOwnDocumentList"-->
        <li><a href="/Instrument/InstrumentOwnDocumentList?instrumentId=@Request["instrumentId"]&dataType=1">
            作业指导书</a></li>
        <!--/Authorization-->
        <!--Authorization operate="仪器编辑-设备档案"-->
        <li><a href="#tabs-2" onclick="GetJs()">设备说明书</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/Instrument/InstrumentPeriodcheckList"-->
        <li><a href="/Instrument/InstrumentPeriodcheckList?instrumentId=@Request["instrumentId"]&dataType=1">
            期间核查</a></li>
        <!--/Authorization-->
@*        <!--Authorization operate="/Instrument/InstrumentInnerCheckList"-->
        <li><a href="/Instrument/InstrumentInnerCheckList?instrumentId=@Request["instrumentId"]&dataType=1">
            内部核查</a></li>
        <!--/Authorization-->*@
        <!--Authorization operate="/Assets/CheckLogFlowList"-->
        <li><a href="/Assets/CheckLogFlowList?instrumentId=@Request["instrumentId"]&dataType=1">
            盘点记录</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/InstrumentFlow/FlowDetails"-->
        <li><a href="/InstrumentFlow/FlowDetails?instrumentId=@Request["instrumentId"]&dataType=1">
            流转明细</a></li>
        <!--/Authorization-->
        <!--Authorization operate="/Instrument/AccessoriesInstrument"-->
        <li><a href="/Instrument/AccessoriesInstrument?instrumentId=@Request["instrumentId"]&dataType=1">
            配件设备</a></li>
        <!--/Authorization-->
    </ul>
    <div id="tabs-1">
        <form id="formInstrument" class="cmxform" method="post" enctype="multipart/form-data" action="/Instrument/Save">
        @Html.Hidden("InstrumentId", Model.InstrumentId)
        @Html.Hidden("DueEndDate", Model.DueEndDate)
        <table cellpadding="0" cellspacing="0" border="0" class="form_table" width="100%">
            <tr>
                <th>
                    <span class="ico_must">设备分类
                </th>
                <td>
                    @Html.DropDownList("InstrumentCate", new SelectList(ViewBag.InstrumentCateList, "Value", "Text", Model.InstrumentCate),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
                <th>
                    <span id="spanSubCate" />子分类
                </th>
                <td>
                    @Html.DropDownList("SubInstrumentCate", new SelectList(ViewBag.SubInstrumentCateList, "Value", "Text", Model.SubInstrumentCate),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
            </tr>
            <tr>
                <th>
                    <span class="ico_must">所属部门</span>
                </th>
                <td>
                    @Html.DropDownListTree("OrgName", ViewBag.BelongDepartList as IList<Global.Common.Models.OrgModel>, "OrgCode", "OrgName", string.IsNullOrEmpty(Model.BelongDepart) ? "" : Model.BelongDepart, "OrgId", "ParentOrgId", "0", new { @class = "fix_width" })
                </td>
                <th style="width: 15%;">
                    最近修改信息
                </th>
                <td style="width: 35%;">
                    修改人：@Model.LastUpdateUser,修改时间：@Model.LastUpdateDate
                </td>
            </tr>
            <tr>
                <th style="width: 15%;">
                    <span class="ico_must">仪器名称</span>
                </th>
                <td style="width: 35%;">
                    @Html.TextBox("InstrumentName", Model.InstrumentName, new { @class = "fix_width" })
                </td>
                <th>
                    <span>英文名称</span>
                </th>
                <td>
                    @Html.TextBox("EnglishName", Model.EnglishName, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    <span class="ico_must">仪器型号</span>
                </th>
                <td>
                    @Html.TextBox("Specification", Model.Specification, new { @class = "fix_width" })
                </td>
                <th>
                    <span class="ico_must" />出厂编号
                </th>
                <td>
                    @Html.TextBox("SerialNo", Model.SerialNo, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    项目组
                </th>
                <td>
                    @Html.TextBox("ProjectTeam", Model.ProjectTeam, new { @class = "fix_width" })
                </td>
                <th>
                    <span class="ico_must" />管理编号
                </th>
                <td>
                    @Html.TextBox("ManageNo", Model.ManageNo, new { @class = "fix_width" })
                </td>
            </tr>
            <!--<tr>
                <th>
                    校准日期
                </th>
                <td>
                    @(Model.DueStartDate.HasValue ? Model.DueStartDate.Value.ToString("yyyy-MM-dd") : string.Empty)
                </td>
                <th>
                    到期日期
                </th>
                <td>
                    @(Model.DueEndDate.HasValue ? Model.DueEndDate.Value.ToString("yyyy-MM-dd") : string.Empty)
                </td>
            </tr>-->
            <tr>
                <th>
                    使用年限
                </th>
                <td>
                    @Html.TextBox("DurableYears", Model.DurableYears, new { @class = "fix_width" })
                </td>
                <th>
                    资产编号
                </th>
                <td>
                    @Html.TextBox("AssetsNo", Model.AssetsNo, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    管理级别
                </th>
                <td>
                    @* @Html.TextBox("ManageLevel", Model.ManageLevel, new { @class = "fix_width" })*@
                    @Html.DropDownList("ManageLevel", new SelectList(ViewBag.ManageLevelList, "Value", "Text", 0),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
                <th>
                    校准周期
                </th>
                <td>
                    @Html.TextBox("InspectCycle", Model.InspectCycle, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    计量类别
                </th>
                <td>
                    @Html.DropDownList("VerificationType", new SelectList(ViewBag.VerificationTypeList, "Value", "Text", Model.VerificationType),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
                <th>
                    保管人
                </th>
                <td>
                    @Html.TextBox("LeaderName", Model.LeaderName, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th id="thTechniqueCharacter">
                    <span class="ico_must">技术特征</span>
                </th>
                <td>
                    @Html.TextArea("TechniqueCharacter", @Model.TechniqueCharacter, new { @cols = "50", @rows = "2" })
                </td>
                <th id="thMeasureCharacter">
                    <span class="ico_must">计量特性
                </th>
                <td>
                    @Html.TextArea("MeasureCharacter", @Model.MeasureCharacter, new { @cols = "50", @rows = "2" })
                </td>
            </tr>
            <tr>
                <th>
                    <span class="ico_must">设备状态</span>
                </th>
                <td>
                    @Html.DropDownList("RecordState", new SelectList(ViewBag.InstrumentRecordStateList, "Value", "Text", Model.RecordState),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
                <th>
                    存放地点
                </th>
                <td>
                    @Html.TextBox("StorePalce", Model.StorePalce, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    <span class="ico_must">设备类别</span>
                </th>
                <td>
                    @Html.DropDownList("InstrumentType", new SelectList(ViewBag.InstrumentTypeList, "Value", "Text", Model.InstrumentType),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
                <th>
                    资产属性
                </th>
                <td>
                    @Html.DropDownList("CalibrationType", new SelectList(ViewBag.CalibrationTypeList, "Value", "Text", Model.CalibrationType),
                        new { @class = "fix_width", @style = "width: 307px;" })
                </td>
            </tr>
            <tr>
                <th>
                    购置日期
                </th>
                <td>
                    <input id="BuyDate" name="BuyDate" type="text" value="@(string.Format("{0:yyyy-MM-dd}", Model.BuyDate))" class="Wdate" 
                        onfocus="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd'})" style="width: 302px" />
                </td>
                <th>
                    购置金额
                </th>
                <td>
                    @Html.TextBox("Price", string.Format("{0:F2}", Model.Price), new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    生产厂家
                </th>
                <td>
                    @Html.TextBox("Manufacturer", Model.Manufacturer, new { @class = "fix_width" })
                </td>
                <th>
                    厂家联系信息
                </th>
                <td>
                    @Html.TextBox("ManufactureContactor", Model.ManufactureContactor, new { @class = "fix_width" })
                </td>
            </tr>
            <tr>
                <th>
                    备注
                </th>
                <td colspan="1">
                    <textarea id="Remark" name="Remark" rows="5" cols="50">@Model.Remark</textarea>
                </td>
                <th>
                    仪器照片
                </th>
                <td>
                    <img  width="80px" height="80px" src="@ViewBag.PicPath" onclick="fnInstrumentPic()"/>
                    <input id="instrumentPic" name="instrumentPic" type="file"/>
                </td>
            </tr>
        </table>
        </form>
        <div class="submit_btn_div">
                <input id="btnSave" type="button" class="submit_btn" onclick="fnSaveInstrument()"
                    value="保 存" />
                <input id="btnClose" class="submit_btn" type="button" onclick="fnClose()" value="关 闭" />
        </div>
        
    </div>
    <!--Authorization operate="仪器编辑-设备档案"-->
    <div id="tabs-2">
        <input type="hidden"  name="AttachmentBusinessType" id="AttachmentBusinessType" value="@Instrument.Common.Constants.AttachmentBusinessType.设备档案.GetHashCode()"/>
        <input type="hidden"  name="PicBusinesType" id="PicBusinesType" value="@Instrument.Common.Constants.AttachmentBusinessType.仪器照片.GetHashCode()"/>
        <input type="hidden"  name="InstrumentId" id="InstrumentId" value="@GRGTCommonUtils.UtilsHelper.Encrypt(Model.InstrumentId.ToString())"/>
        <div id="divOther">
            <form id="otherForm" name="otherForm" enctype="multipart/form-data" method="post">
            <div style="float: left;" id="DivUploadOther">
                <!--Authorization operate="/BusinessAttachment/UploadBusinessAttachment"-->
                <input id="fileOther" name="fileOther" type="file" />
                <input id="btnUploadOther" type="button" class="submit_btn" value="上传" onclick="fnUploadData()" />
                <!--/Authorization-->
                <!--Authorization operate="/BusinessAttachment/DeleteBusinessAttachment"-->
                <input id="btnDeleteOther" type="button" class="submit_btn" value="批量删除" onclick="fnDeleteBusinessAttachment('chk'+$('#AttachmentBusinessType').val(),OtherTable)" />
                <!--/Authorization-->
            </div>
            </form>
            <table id="OtherList">
                <thead>
                    <tr>
                        <th width="30px">
                            <input type="checkbox" id="chkAll_Other" name="chkAll_Other" onclick='fnSetCheckbox(this)' />
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            文件名称
                        </th>
                        <th>
                            备注
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/Authorization-->

</div>
