@model IList<System.Collections.Hashtable>
@{
    ViewBag.Title = "ViewPage1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        WrapTables4Dom("example");

        //            $("#btnAddNew").click(function () {
        //                if(orgId == 0) ymPrompt.alert("根目录只能有一个，请添加子目录。");
        //                else fnNewWindow(0,orgId);
        //                fnNewWindow(0,@Request["orgId"]);
        //            });

    });

    //        function fnNewWindow(id,parentId)
    //        {
    //            ymPrompt.win({ message: '@Url.Content("~/Organization/Details")?orgId=' + id + "&parentId=" + parentId , width: 400, height: 380, title: '组织机构信息维护', handler: null, iframe: true });
    //        }
    function fnAddOrganization() {
        ymPrompt.win({ message: '@Url.Content("~/Organization/Details")?orgId=' + 0 + '&parentId= @(Request["orgId"])', width: 400, height: 380, title: '组织机构信息维护', handler: null, iframe: true });
    }
    function fnEditOrganization(oId, pId) {
        ymPrompt.win({ message: '@Url.Content("~/Organization/Details")?orgId=' + oId + '&parentId=@(Request["orgId"])', width: 400, height: 380, title: '组织机构信息维护', handler: null, iframe: true });
    }
        

</script>
<button type="button" class="submit_btn" id="btnAddNew" onclick="fnAddOrganization()">
    <span class="">新增组织</span>
</button>
<table cellpadding="0" cellspacing="0" border="0" class="list_table" id="example">
    <thead>
        <tr class="tbl_tr">
            <th width="56px">
                序号
            </th>
            <th>
                组织名称
            </th>
            <th>
                组织编号
            </th>
            
           
            <th>
                显示顺序
            </th>
            <th>
                状态
            </th>
            <th width="130px">
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var m in Model)
            {
            <tr class="GradeA">
                <td>@(count++)
                </td>
                <td>@m["OrgName"]
                </td>
                <td>@m["OrgCode"]
                </td>               
                <td>@m["ShowOrder"]
                </td>
                <td>@m["IsEnabled"]
                </td>
                <td>
                    <a href="#" onclick="fnEditOrganization(@m["OrgId"],@m["ParentOrgId"]);return false;">
                        编辑</a>&nbsp;&nbsp;&nbsp;
                    @if (m["OrgCode"].ToString() != "GRGT")
                    {
                        <a href='#' onclick="fnConfirmWithF5('确定要禁用【@m["OrgName"]】及其下属部门吗？','@Url.Content("~/Organization/DisableOrg?orgId=")@m["OrgId"]');return false;">
                            禁用</a>Html.Raw("&nbsp; &nbsp;");
                        <a href='#' onclick="fnConfirmWithF5('确定要启用【@m["OrgName"]】及其下属部门吗？','@Url.Content("~/Organization/EnableOrg?orgId=")@m["OrgId"]');return false;">
                            启用</a>Html.Raw("&nbsp; &nbsp;");
                        <a href='#' onclick="fnConfirmWithF5('确定要删除【@m["OrgName"]】及其下属部门吗？','@Url.Content("~/Organization/Delete?orgId=")@m["OrgId"]');return false;">
                            删除</a>
                    }
                </td>
            </tr>
            }
        }
    </tbody>
</table>
