<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/base/dhtmlxtree.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dhtmlxtree/dhtmlxtree.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dhtmlxtree/dhtmlxcommon.js")" type="text/javascript"></script>
</head>

<body>

@RenderBody()

</body>
</html>
